In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/Gabo0/Desktop/Jupyter Python/Ejercicios Linkedin/base_datos_2008.csv")

Crear una columna nueva

In [6]:
df["HoursDelay"] = round(df["ArrDelay"] / 60)

In [3]:
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

Borrar una columna existente

In [4]:
del(df["HoursDelay"])

In [7]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,1.0

Para borrar varias columnas y para que quede guardado se debe igualar lo que se esta haciendo.

In [9]:
df = df.drop(["Diverted","Cancelled","Year"], axis=1)

Otra manera

In [ ]:
df.drop(["Diverted","Cancelled","Year"], axis=1,inplace=true)

Tambien borra filas la función drop y un rango de filas tambien

In [ ]:
df.drop(range(0,10))

Crear dataframe con diferentes filtros

In [10]:
dfATL =df[df.Origin =="ATL"]
dfHOU = df[df.Origin=="HOU"]

In [11]:
newdf=dfATL.append(dfHOU)